In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("company_database1.db")

In [3]:
c=db.cursor()

In [4]:
c.execute('create table company1(id int,name text, age int,addr text,salary real)')

In [5]:
c.execute("insert into company1 values(1,'varsha',40,'gv7',90000)")

In [6]:
c.execute("insert into company1 values(2,'rohan',39,'f32',999999)")

In [8]:
c.execute("insert into company1 values(2,'rohan',39,'f32',999999)")
c.execute("insert into company1 values(3,'Mohan',32,'fd312',99937999)")
c.execute("insert into company1 values(4,'Tohan',19,'sda32',99994399)")

In [9]:
data=c.execute('select * from company1')

In [10]:
for i in data:
    print(i)

(1, 'varsha', 40, 'gv7', 90000.0)
(2, 'rohan', 39, 'f32', 999999.0)
(2, 'rohan', 39, 'f32', 999999.0)
(2, 'rohan', 39, 'f32', 999999.0)
(2, 'rohan', 39, 'f32', 999999.0)
(2, 'rohan', 39, 'f32', 999999.0)
(3, 'Mohan', 32, 'fd312', 99937999.0)
(4, 'Tohan', 19, 'sda32', 99994399.0)

In [12]:
data=db.execute('select  * from company1 where salary >90000')
for i in data:
    print(i)

(2, 'rohan', 39, 'f32', 999999.0)
(2, 'rohan', 39, 'f32', 999999.0)
(2, 'rohan', 39, 'f32', 999999.0)
(2, 'rohan', 39, 'f32', 999999.0)
(2, 'rohan', 39, 'f32', 999999.0)
(3, 'Mohan', 32, 'fd312', 99937999.0)
(4, 'Tohan', 19, 'sda32', 99994399.0)

In [13]:
data=db.execute("select  name from company1 where addr='pune'")
for i in data:
    print(i)